.newSearchButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.newSearchButton:hover {
    background-color: #45a049;
}

.newSearchButton:active {
    transform: scale(0.95);
}